# Tuple Tasks

# exercise 1

In [4]:
a=(1,2,3,2,2,4,5)
b=2
count=a.count(b)
print(f'the element {b} apears {count} times in the tuple.')

the element 2 apears 3 times in the tuple.

# exercise 2

In [5]:
a=(12,43,54,56)
b=max(a)
print(f'max element in this tuple:{b}')

max element in this tuple:56

# exercise 3

In [6]:
a=(12,43,54,56)
b=min(a)
print(f'minimum element in this tuple:{b}')

minimum element in this tuple:12

# exercise 4

In [7]:
a=(12,43,54,56)
b=(43)
if b in a :
    print('this element has in tuple.')
else :
    print("Error: this element doesn't exists.")

this element has in tuple.

# exercise 5

In [8]:
a=(12,43,54,56)
print(a[0])

12

# exercise 6

In [9]:
a=(12,43,54,56)
print(a[-1])

56

# exercise 7

In [10]:
a=(12,43,54,56)
number=len(a)
print(f'the number of elements in this tuple:{number}')

the number of elements in this tuple:4

# exercise 8

In [13]:
a=(56,34,67,98,72)
print(a[0:3])

(56, 34, 67)

# exercise 9

In [14]:
a=(2,0,8)
b=(3,4,5)
c=a+b
print(c)

(2, 0, 8, 3, 4, 5)

# exercise 10

In [16]:
a=(1,2,3)
if a :
    print('tuple has elements.')
else:
    print('tuple is empty.')

tuple has elements.

# exercise 11

In [19]:
a=(1,2,3,2,4,2,5)
element=2
indices=[index for index,value in enumerate(a) if value==element]
print(f'the indices of element{element} in the tuple are:{indices}')

the indices of element2 in the tuple are:[1, 3, 5]

# exercise 12

In [22]:
a=(1,2,3,4,5,6)
b=sorted(set(a))
if len(b)>=2:
    second=b[-2]
    print(f'the second largest element is {second}.')
else:
    print('there is no second largest element.')

the second largest element is 5.

# exercise 13

In [24]:
a=(1,2,3,4,5,6)
b=sorted(set(a))
if len(b)>=2:
    second=b[1]
    print(f'the second smallest element is {second}.')
else:
    print('there is no second smallest element.')

the second smallest element is 2.

# exercise 14

In [25]:
element=42
bb=(element,)
print(f'the tuple containing the single element is:{bb}')

the tuple containing the single element is:(42,)

# exercise 15

In [26]:
a=[1,2,3,4,5]
b=tuple(a)
print(f'the tuple containsing the same elements is:{a}')

the tuple containsing the same elements is:[1, 2, 3, 4, 5]

# exercise 16

In [27]:
a=(1,2,3,4,5,6)
b=(5,4,7,3)
sorted1=a==tuple(sorted(a))
sorted2=b==tuple(sorted(b))
print(f'tuple 1 is sorted:{sorted1}')
print(f'Tuple 2 is sorted :{sorted2}')

tuple 1 is sorted:True
Tuple 2 is sorted :False

# exercise 17

In [28]:
a=(10,20,30,40,50)
start=1
end=4
subtuple=a[start:end]
max=max(subtuple)
print(f'the maximum element in tge subtuple {subtuple} is:{max}')

the maximum element in tge subtuple (20, 30, 40) is:40

# exercise 18

In [29]:
a=(10,20,30,40,50)
start=1
end=4
subtuple=a[start:end]
min=min(subtuple)
print(f'the maximum element in tge subtuple {subtuple} is:{min}')

the maximum element in tge subtuple (20, 30, 40) is:20

# exercise 19

In [43]:
my_tuple = (1, 2, 3, 4, 2, 5)

element_to_remove = 2

temp_list = list(my_tuple)

if element_to_remove in temp_list:
    temp_list.remove(element_to_remove)

new_tuple = tuple(temp_list)

print(f"Original tuple: {my_tuple}")

TypeError: 'list' object is not callable

# exercise 20

In [45]:
a = (1, 2, 3, 4, 5, 6, 7, 8)
ranges = [(0, 2), (2, 5), (5, 8)]
new_tuple = tuple(a[start:end] for start, end in ranges)
print(f"Original tuple: {a}")
print(f"New tuple containing subtuples: {new_tuple}.")

Original tuple: (1, 2, 3, 4, 5, 6, 7, 8)
New tuple containing subtuples: ((1, 2), (3, 4, 5), (6, 7, 8)).

# exercise 21

In [46]:
a = (1, 2, 3)
repeat_count = 3
new_tuple = tuple(element for element in a for _ in range(repeat_count))
print(f"Original tuple: {a}")
print(f"New tuple with each element repeated {repeat_count} times: {new_tuple}.")

Original tuple: (1, 2, 3)
New tuple with each element repeated 3 times: (1, 1, 1, 2, 2, 2, 3, 3, 3).

# exercise 22

In [47]:
a=1
b=20
ab=tuple(range(a,b))
print(f'tuple of numbers from {a} to {b-1}:{ab}')

tuple of numbers from 1 to 19:(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

# exercise 23

In [49]:
a=[(1,2),(3,4),(5,6)]
reverse=[t[::-1] for t in a]
print(f'origin tuple:{a}')
print(f'reversed tuple:{reverse}')

origin tuple:[(1, 2), (3, 4), (5, 6)]
reversed tuple:[(2, 1), (4, 3), (6, 5)]

# exercise 24

In [51]:
a=(1,2,3,2,1)
palindrome=a==a[::-1]
print(f'the tuple {a} is palindrome: {palindrome}')

the tuple (1, 2, 3, 2, 1) is palindrome: True

# exercise 25

In [53]:
a=(1,2,3,2,4,1,5,3)
uniq=tuple()
seen=set()
for element in a:
    if element not in seen:
      uniq+=(element,)
      seen.add(element)
print(f'original:{a}')
print(f'new tuple with unique:{uniq}')

original:(1, 2, 3, 2, 4, 1, 5, 3)
new tuple with unique:(1, 2, 3, 4, 5)